@import 'navbar.css';
@import 'slidelist.css';
@import 'preview.css';
@import 'editor.css';

body{
	background-color: #EDF1F2;
	margin: 0;
	padding: 0;
}

.container{

	display: block;
	height: 100%;
}

.content{

	position: absolute;
	width: 100%;
	height: calc(100% - 7em);
	margin-top: 7em;
}